body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 130px !important;
}
body .App {
  width: 50vw;
  border: 1px solid gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .App .submit-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}
body .App .submit-input .input {
  width: 100%;
}
body .App .submit-input button {
  color: white;
  background-color: #007BFF;
  padding: 10px;
}
body .App p {
  background-color: #F7F7F7;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

li {
  padding: 10px !important;
  background-color: #F7F7F7;
  border: 1px solid gray;
}