body {
    display: flex;
    justify-content: center;
    padding-top: 130px !important;
    .App {
        width: 50vw;
        border: 1px solid gray;
        align-items: center;
            .submit-input {
                display: flex;
                height: 40px;
            .input {
                width: 100%;
            }
            button {
                color: white;
                background-color: #007BFF;
                padding: 10px;
            }
        }
            p {
                background-color: #F7F7F7;
                font-size: 20px;
                font-weight: 700;
                padding: 10px;
            }
    }
}

li {
    padding: 10px !important;
    background-color: #F7F7F7;
    border: 1px solid gray;
}